/.git
/.vscode
/.github
/node_modules
/docs
/tests
/coverage
/build
.eslintrc
.eslintignore
.editorconfig
.gitignore
.prettierrc
.prettierignore
.travis.yml
.mocharc.json
nodemon.json
tsconfig*.json
nodemon.json
gulpfile.js
