package-lock=false


//registry.npmjs.org/:_authToken=${NPM_TOKEN}
@md-akhi:registry=https://registry.npmjs.org/


//npm.pkg.github.com/:_authToken=${GITHUB_TOKEN}
@md-akhi:registry=https://npm.pkg.github.com

always-auth=true
