{
	"trailingComma": "none",
	"printWidth": 80,
	"useTabs": true,
	"tabWidth": 2,
	"semi": true,
	"singleQuote": false,
	"overrides": [
		{
			"files": "*.json",
			"options": {
				"parser": "json",
				"useTabs": false
			}
		}
	]
}
